#cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.overlay{
    position: relative;
}

.card-image{
    width: 100%;
    height:auto;
}

.card-info{
    padding: 10px;
}

.card h4{
    margin: 0;
    font-size: 1.2rem;
}

.card p{
    margin:0;
    font-size: 1 rem;
    color: #555;
}